// @import '@fontsource/roboto/300.css';
// @import '@fontsource/roboto/400.css';
// @import '@fontsource/roboto/500.css';
// @import '@fontsource/roboto/700.css';

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
* {
  font-family: 'Tajawal', sans-serif;
  unicode-bidi: embed;
  font-weight: 500;
}

*:focus {
  /* width: 100%; */
  outline: none;
}



*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #ffff;
  background-color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Page {
  height: 100vh;
  padding-top: 30px;
  // background:#f0f0f0;
  background: #fbfbfb;
}

//Vendors Page

$padding: 10px;

// Profile Page

.Profile {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

//Login Page

//Home Page
$boxSize: 220px;
$borderRaduis: 10px;

//Vendors

$ImageHeight: 150px;
$width: 230px;
$hoverColor: #ffc583;

div.VendorItem {
  width: 100%;
  display: inline-grid;
  grid-template-rows: $ImageHeight 100px;
  position: relative;
  cursor: pointer;
}

img.VendorImage {
  width: 100%;
  height: $ImageHeight;
  border-radius: 6px 5px 20px 0px;
  margin-top: 0;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}



// div.VendorItem:hover {
//     // border: 2px solid #ffe6ca;
//     border: 2px solid $hoverColor;
// }

// div.VendorItem:hover img.VendorImage {
//     border-bottom: 3px solid $hoverColor;
// }

div.VendorDetails {
  padding: 5px;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: 20px 45px auto;
}

div.VendorName {
  font-weight: 600;
  font-size: 14px;
}

div.VendorKitchens {
  font-size: 12px;
  overflow: auto;

}

div.VendorTime {
  margin-top: auto;
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px 15px 15px 15px;
}

div.VendorRating {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  color: #000;
  padding: 3px 5px;
  border-radius: 3px 0px 10px 0px;
  font-size: 12px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 20px auto;
  margin: auto;

}

.Star {
  color: goldenrod;
  font-size: 14px;
  padding: auto;
  font-size: 14px;
  margin: auto;
  text-align: left;
}

.Time {
  color: #000;
  padding: auto;
  font-size: 18px;
  margin: auto;
}

@mixin Delivery {
  color: #fff;
  background-color: #00a2ff;
  padding: 2px 10px;

}

.Promotion {
  @include Delivery();
  border-radius: 10px;
  width: fit-content
}

div.VendorPromotion {
  @include Delivery();
  position: absolute;
  top: $ImageHeight - 54;
  font-size: 12px;
  border-radius: 0px 10px 0px 0px;
  overflow: hidden;
  width: 170px;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
}



div.AddToCart {
  display: grid;
  grid-template-columns: auto auto;
}

div.DetailsContainer {
  display: grid;
  grid-template-rows: auto 25px;
  text-align: center;
  width: 100%;
  height: 100%;
}

div.ItemName {
  text-overflow: ellipsis;
  margin: auto;
}

.PreviewButton {
  width: 100%;
  text-align: center;
  padding: 0px;
  background: #efa14e;
  border: 1px solid #ffcd99;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: inset 2px -3px 4px #ffd769;
}

//Forms
$gray: #ccc;
$white: #fafafa;
$black: #333;
$width: 300px;
$borderRaduis: 10px;
$gold: #e2c880;
$boxShadow: #ddd;
$borderColor: #ccc;

div.Box {
  border-radius: 15px;
  // box-shadow: -1px 1px 1px 0px #cdcdcd;
  border: 1px solid #eee;
  background: #fff;
}



//MenuItem Control
div.Modifier {
  overflow-y: auto;
  scroll-behavior: smooth;
  /* display: grid;
  grid-template-columns: auto auto; */
  padding: 10px;

}

label.Modifier {
  padding-left: 3px;
}

div.ModifierImageContainer {
  border-bottom: 2px solid #777;
}

img.ModifierImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

input.ProductMenuItem {
  display: none;
}

label.ProductMenuItem {
  position: relative;
  color: #fff;
  background-color: #aaa;
  font-size: 14px;
  text-align: center;
  display: block;
  margin: 5px 10px;
  padding: 5px 20px 5px 10px;
  cursor: pointer;
  box-shadow: 1px 1px 3px 0px #d8d8d8;
  border-radius: 30px 0px 50px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input.ProductMenuItem:checked+label.ProductMenuItem {
  width: 100%;
  background: #efa14d;
  color: #fff;
  box-shadow: inset 2px -3px 4px #ffd769;
}

input.ProductMenuItem:checked+label.ProductMenuItem:after {
  content: "\2713";
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  border: 1px solid #ccc;
  background-color: rgb(64, 57, 42);
  z-index: 999;
  position: absolute;
  top: -5px;
  right: -5px;
}

div.ProductMenuItemsContainer {
  display: inline-flex;
}

div.ModifierGroup {
  padding: 10px;
}

div.ModifierGroupName {
  font-weight: bold;
  padding-bottom: 10px;
}

div.ModifierItemName {
  padding-bottom: 10px;
  font-size: 16pt;
}

div.ModifierGroupDescription {}

div.ModifierPriceAndQty {
  display: grid;
  grid-template-columns: 100px auto;
  padding: 10px;
}


label.ModifierPrice {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  padding: 5px;
  display: block;
  color: #000;
  width: auto;
}

button.AddToCart {
  width: 100%;
  padding: 8px;
  background: #efa14e;
  border: 1px solid #ffcd99;
  border-radius: 5px 5px 15px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 2px -3px 4px #ffd769;

}

button.AddToCart:hover {
  background-color: #ffc181;
}

//Branch

div.MenuGroups {
  display: inline-block;
}

label.MenugroupItem {
  margin: 5px;
  display: inline-block;
  background-color: #aaa;
  color: #fff;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid #ccc;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 2px -3px 4px #ccc;

}

input[type=radio].MenugroupItem {
  display: none;
}

input.MenugroupItem:checked+label.MenugroupItem {
  background: #efa14d;
  border: 1px solid #ffcd99;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: inset 2px -3px 4px #ffd769;
}

//MenuItem


div.MenuItem {
  width: 300px;
  margin: 10px;
  display: inline-grid;
  grid-template-columns: 150px auto;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  height: 120px;
}

img.MenuItemImage {
  width: 150px;
  height: 118px;
  border-radius: 0px 0px 30px 0px;
  margin-top: 0;
  object-fit: cover;
  border-right: 3px solid #c7c7c7;
}

div.MenuItem:hover img.MenuItemImage {
  border-right: 3px solid #ffcd99;
}

div.Calories {
  position: absolute;
  top: 0px;
  border-radius: 5px 0px 5px 0px;
  padding: 3px;
  font-size: 12px;
  background-color: #fff9d1;
}

div.Price {
  /* background-color: rgb(241, 255, 243); */
}



div.AddToCart {
  display: grid;
  grid-template-columns: auto auto;
}

div.DetailsContainer {
  display: grid;
  grid-template-rows: auto 25px;
  text-align: center;
  width: 100%;
  height: 100%;
}

div.ItemName {
  text-overflow: ellipsis;
  margin: auto;
  font-size: 14px
}

button.VendorSelect {
  background-color: #444;
  color: #FFF;
  font-size: 10pt;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  padding: 0;
}

button.VendorSelect:focus {
  outline: none;
}

button.VendorSelect:hover {
  outline: none;
}


.VendorLogo {
  width: 90px;
  height: 90px;
  margin-top: 0;
  object-fit: fill;
  display: inline-block;
}

.ResturantItem {
  display: grid;
  grid-template-columns: auto auto;
  width: 250px;
  gap: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.VendorStickyLogo {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #ccc;
  object-fit: cover;
}

.MessageAlter {
  text-align: center;
  font-size: 12px;
  color: #aaa;
  margin: 10px;

}

@mixin MessageBubble {
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto auto;
  font-size: 14px;
  padding: 5px;
}


.MessageUser {
  text-align: left;
  font-weight: 600;
  padding: 2px;
  font-size: 13px;
}

.MessageSender {
  @include MessageBubble;
  text-align: right;
  float: right;
  background: #ffd969;
}

.MessageReceiver {
  @include MessageBubble;
  text-align: right;
  float: left;
  background: #f5f5f5;
}

.MessageContent {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}

.MessageTime {
  font-size: 11px;
  bottom: 0;
  margin-top: auto;
}

.Message {
  padding-left: 5px;
}

.ChatBox {
  height: 200px;
  overflow-y: auto;
}

@mixin CartOrder {
  padding: 5px;
  border-radius: 5px;
  border-left: 5px solid #fff;

}

.MyCartOrder {
  @include CartOrder();
  border-color: #ffd969;
}

.CartOrder {
  @include CartOrder();
  border-color: #ccc;
}

// .table-content-editing {

//   input {
//     position: absolute;
//     top: 5px;
//     width: 90%;
//     border-radius: 0;
//     left: 5px;
//     margin: 0px;
//     padding: 7px 10px;

//   }
// }

// span.table-content-edit-span {
//   margin: 0px -5px;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   width: 100%;
//   padding: 7px 11px;
// }

img.RestaurantImage {
  width: 100%;
  height: 120px;
  border-radius: 6px 5px 50px 0px;
  margin-top: 0;
  object-fit: cover;
  border-bottom: 2px solid #aaa;
}

.VendorItemCustom {
  display: inline-grid;
  grid-template-columns: 90px 130px;
}


div.RestaurantItem {
  width: 100%;
  display: inline-grid;
  position: relative;
  cursor: pointer;
}


div.RestaurantDetails {
  padding: 5px;
  display: grid;
  grid-gap: 2px;
  grid-template-rows: 20px 20px;
}

div.RestaurantName {
  font-weight: 600;
  font-size: 14px;
}

.RestaurantDelivery {
  font-size: 12px;
}

.GroupItem {
  display: grid;
  grid-template-columns: 200px auto;
}

th {
  font-weight: normal;
}


.NotificationsBox {
  position: absolute;
  max-height: 100px;
  width: 250px;
  top: 57px;
  right: 105px;
  background: #fff;
  z-index: 100;
  font-size: 10pt;
  border: 1px solid #ccc;
  overflow-x: auto;
  overflow-y: scroll;
  color: #000;
}


button.normal {
  background: #efa14e;
  border-radius: 100%;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  // box-shadow: inset 2px -3px 4px #ffd769;
}

button.normal:hover {
  background-color: #ffc181;
  // color: #fff;
}


button.secondary {
  padding: 8px;
  background: #51a7e5;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

button.secondary:hover {
  background-color: #ffcd99;
  color: #fff;
}

button.secondary:disabled {
  background-color: #eee;
  color: #aaa;
}

.input {
  padding: 8px 20px;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: inset 2px -2px 4px 2px #f0f0f0;
}

.panel {
  background-color: linear-gradient(0deg, rgba(252, 252, 252, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
}

th,
td,
thead {
  padding: 4px !important;
}

td {
  border: 1px solid #eee;
}

thead {
  background: #eee;
  color: black
}
